<div class="page education container">
	<article>
		<h1 class="page-title">Education</h1>
		<div class="row">
			<section class="media panel panel-default col-md-6">
				<div class="media-left media-top">
					<a href="#">
						<%= image_tag('https://s3.amazonaws.com/e-portfolio/uis-logo.png', class: 'media-object logo', alt: 'University of Illinois - Springfield') %>
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">Computer Science <small>Bachelor of Science</small></h2>
					<h3>University of Illinois <small>Springfield, IL</small></h3>
					<p>Degree Awarded 2016</p>
					<p>Program GPA: 4.0</p>
					<p>Specialization in Software Engineering</p>
				</div>
			</section>
			<section class="media panel panel-default col-md-6">
				<div class="media-left media-top">
					<a href="#">
						<%= image_tag('https://s3.amazonaws.com/e-portfolio/nlu-logo.png', class: 'logo', alt: 'National Louis University') %>
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">Secondary Education <small>Master of Arts</small></h2>
					<h3>National Louis University <small>Chicago, IL</small></h3>
					<p>Degree Awarded 2014</p>
					<p>Program GPA: 4.0</p>
					<p>ISBE Professional Educator License, Grades 6-12</p>
				</div>
			</section>
			<section class="media panel panel-default col-md-6">
				<div class="media-left media-top">
					<a href="#">
						<%= image_tag('https://s3.amazonaws.com/e-portfolio/luc-logo.png', class: 'logo', alt: 'Loyola University - Chicago') %>
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">Psychology <small>Bachelor of Science</small></h2>
					<h3>Loyola University <small>Chicago, IL</small></h3>
					<p>Degree Awarded 2008</p>
					<p>Program GPA: 3.7</p>
					<p>Cum Laude Graduate with Honors in Psychology</p>
				</div>
			</section>
			<section class="media panel panel-default col-md-6">
				<div class="media-left media-top">
					<a href="#">
						<%= image_tag('https://s3.amazonaws.com/e-portfolio/luc-logo.png', class: 'logo', alt: 'Loyola University - Chicago') %>
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">Philosophy <small>Bachelor of Arts</small></h2>
					<h3>Loyola University <small>Chicago, IL</small></h3>
					<p>Degree Awarded 2008</p>
					<p>Program GPA: 3.9</p>
					<p>Cum Laude Graduate with Honors in Philosophy</p>
				</div>
			</section>
		</div>
	</article>
</div>