<div class="page home">
	<section class="section flex-box flex-row flex-horizontal-center flex-vertical-center" id="jumbotron">
		<div class="container center-horizontal center-vertical">
			<h1 class="section-title">Helping Innovative Ideas Take Flight</h1>
		</div>
	</section>
	<section class="section flex-box flex-row flex-horizontal-center flex-vertical-center" id="welcome">
		<article class="container center-horizontal center-vertical">
			<h1 class="section-title">Welcome</h1>
			<p>I am a highly-motivated and cross-functional professional with a passion for software engineering and full stack development. In addition to a strong foundation in fundamental computer science concepts, I can offer project management experience, an aptitude for learning new technologies and processes, and an ability to effectively communicate and collaborate with both technical and non-technical partners. My goal is to create high-quality digital applications that have a positive impact on the people who use them.</p>
		</article>
	</section>
	<section class="section flex-box flex-row flex-horizontal-center flex-vertical-center" id="portfolio">
		<div class="container">
			<h1 class="section-title">Featured Projects</h1>
		</div>
	</section>
	<section class="section flex-box flex-row flex-horizontal-center flex-vertical-center" id="blog">
		<div class="container">
			<h1 class="section-title">Recent Blog Posts</h1>
		</div>
	</section>
	<section class="section flex-box flex-row flex-horizontal-center flex-vertical-center" id="contact">
		<div class="container">
			<h1 class="section-title">Contact</h1>
			<p>Please take a moment to connect with me. I would love the opportunity to discuss potential projects or my qualifications with you.</p>
		</div>
	</section>
</div>