<div class="page container">
	<article>
		<h1>Education</h1>
		<div class="row">
			<section class="panel panel-default col-md-6">
				<h2>Computer Science <small>Bachelor of Science</small></h2>
				<h3>University of Illinois <small>Springfield, IL</small></h3>
				<p>Degree Awarded 2016</p>
				<p>Program GPA: 4.0</p>
				<p>Specialization in Software Engineering</p>
			</section>
			<section class="panel panel-default col-md-6">
				<h2>Secondary Education <small>Master of Arts</small></h2>
				<h3>National Louis University <small>Chicago, IL</small></h3>
				<p>Degree Awarded 2014</p>
				<p>Program GPA: 4.0</p>
				<p>ISBE Professional Educator License, Grades 6-12</p>
			</section>
		</div>
		<div class="row">
			<section class="panel panel-default col-md-6">
				<h2>Psychology <small>Bachelor of Science</small></h2>
				<h3>Loyola University <small>Chicago, IL</small></h3>
				<p>Degree Awarded 2008</p>
				<p>Program GPA: 3.7</p>
				<p>Cum Laude Graduate with Honors in Psychology</p>
			</section>
			<section class="panel panel-default col-md-6">
				<h2>Philosophy <small>Bachelor of Arts</small></h2>
				<h3>Loyola University <small>Chicago, IL</small></h3>
				<p>Degree Awarded 2008</p>
				<p>Program GPA: 3.9</p>
				<p>Cum Laude Graduate with Honors in Philosophy</p>
			</section>
		</div>
	</article>
</div>