$white: #FFFFFF;
$black: #000000;
$grey: #F7F7F5;
$purple: #E800E8;
$primary-foreground: $purple;
$primary-background: $white;
$secondary-background: $grey;

body {
	min-height: 100vh;
}

.flex-box {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-horizontal-center {
	justify-content: center;
}

.flex-vertical-center {
	align-items: center;
}

.page {
	padding-top: 70px;
}
.page-title {
	margin-bottom: 40px;
}
.section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-title {
	text-align: center;
}