<div class="page blog container">
	<h1 class="page-title">New Blog Post</h1>
	<div>
		<%= simple_form_for(@posts) do |f| %>
			<%= render 'form', locals: {f: f} %>
			<%= link_to 'Back', posts_path %>
		<% end %>
	</div>
</div>



