<div class="page container">
	<article>
		<h1>About</h1>
		<p>I am a highly-motivated and cross-functional professional with a passion for software engineering and full stack development. In addition to a strong foundation in fundamental computer science concepts, I can offer project management experience, an aptitude for learning new technologies and processes, and an ability to effectively communicate and collaborate with both technical and non-technical partners. My goal is to create high-quality digital applications that have a positive impact on the people who use them.</p>
	</article>
</div>