$white: #FFFFFF;
$black: #000000;
$primary-color: #E800E8;

body {
	min-height: 100vh;
}

.flex-box {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-horizontal-center {
	justify-content: center;
}

.flex-vertical-center {
	align-items: center;
}

.page {
	padding-top: 70px;
}