.title {
	text-align: center;
}

#jumbotron {
	height: 100vh;
	background-size: cover;
	background-image: image-url('flight-horizontal.jpg');
	background-position: center;
}

#welcome {
	article{
		p {
			text-align: center;
		}
	}
}

#portfolio {
	
}

#blog {
	
}

#contact {
	.container {
		p {
			text-align: center;
		}
	}
}